<div class="row header-container">
    <div class="col-4 left-header-container">
        <a class="header-link" href="/projects">Projects</a>
        <a class="header-link" href="/experience">Experience</a>
    </div>
    <div class="col-4">
        <a class="header-link" href="/"><h1 class="name font-weight-bold">ALAN BI</h1></a>
    </div>
    <div class="col-4 right-header-container">
        <a class="header-link" href="/about">About</a>
        <a class="header-link" href="/resume">Resume</a>
    </div>
</div>