<div class="col-3 fixed-top sidebar">
    <h1 class="font-weight-bold">Alan Bi</h1> 
    <div class="sidebar-section-links font-weight-bold">
        <a class="sidebar-section-link" href="#about-container">About</a><br>
        <a class="sidebar-section-link" href="#projects-container">Projects</a><br>
        <a class="sidebar-section-link" href="#experience-container">Experience</a><br>
    </div>
    <div class="contact-buttons"> 
        <i class="fas fa-envelope"></i>
        <a href="mailto:alan.bi326@gmail.com">Email</a><br>
        <i class="fab fa-github"></i>
        <a href="https://github.com/alankbi">GitHub</a><br>
        <i class="fas fa-phone"></i>
        <a href="tel:+1-206-790-3689">Phone</a><br>
        <!--<i class="fas fa-file"></i>
        <a href="/assets/resume.pdf">Resume</a>-->
    </div>
</div>
<!--TODO: hide sidebar when width decreases past a certain point, then decrease body min-width-->