<div class="sidebar-container">
    <div class="sidebar">
        <h1 class="font-weight-bold">Alan Bi</h1> 
        <div class="sidebar-section-links font-weight-bold">
            <a class="sidebar-section-link" href="/projects">Projects</a><br>
            <a class="sidebar-section-link" href="/experience">Experience</a><br>
            <a class="sidebar-section-link" href="/blog/">Blog</a><br>
        </div><br>
        <div class="related-posts">
            <h3 class="font-weight-bold">Related Posts</h3>
            <p>Nothing so far!</p>
        </div>
    </div>
</div>