<div id="sidebar-small">
        <!-- <a href="/"><p>Alan Bi</p></a> -->
        <div class="sidebar-section-links">
            <a class="sidebar-section-link" href="/">Home</a>
            <a class="sidebar-section-link" href="/blog/">Blog</a>
        </div>
    </div>
<div class="sidebar-container" id="sidebar">
    <div class="sidebar">
        <a href="/"><h1 class="font-weight-bold">Alan Bi</h1></a>
        <div class="sidebar-section-links font-weight-bold">
            <a class="sidebar-section-link" href="/projects">Projects</a><br>
            <a class="sidebar-section-link" href="/experience">Experience</a><br>
            <a class="sidebar-section-link" href="/blog/">Blog</a><br>
        </div><br>
        <div class="related-posts">
            <h3 class="font-weight-bold">Related Posts</h3>
            <p>Nothing so far!</p>
        </div>
    </div>
</div>