* {
	font-family: Roboto;

}

body {
	color: $main-font-color;
}

hr {
	margin-bottom: 8vh !important;
}

.about-container {
	height: 100vh;
}

.sidebar {
	margin-top: 20vh;
}

.contact-buttons {
	margin-left: 10vw;
}

.about-container {
	margin-top: 20vh;
}

.body-info {
	margin-left: 4vw;
}