* {
	font-family: Roboto;
	color: $main-font-color;
}

body {
	min-width: 700px;
	/*background-image: url("../../assets/images/background.png");
	background-repeat: no-repeat;
	background-size: cover;*/
}

hr {
	margin-bottom: 8vh !important;
}

.experience-container, .projects-container {
	margin-bottom: 20vh;

	a {
		display: inline-block;
		vertical-align: top;
    }

    a:hover {
        text-decoration: none;
    }
}

.name {
	margin-top: 10vh;
	margin-bottom: 5vh;
	font-size: 4vw;
}