.contact-buttons a {
    margin: 5px;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 5px;
    background-color: #DDDDDD;
    border-radius: 5px;
}