.item {
    width: 24vw;
    min-width: 200px;
    max-width: 450px;
    box-shadow: 0px 0px 2px 2px $item-shadow-color;
    transition: box-shadow 0.3s;
    margin: 8px;
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0px 0px 6px 6px $item-shadow-color;
}

.item-header {
    padding: 8px;
    background-color: $item-header-color;
    color: $main-font-color;
    text-align: center;
    border-radius: 0 0 10px 10px;
    height: 180px;
}

.item-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 0 0;
}