.project {
    width: 18vw;
    box-shadow: 0px 0px 2px 2px $project-shadow-color;
    margin: 8px;
}

.project-header {
    padding: 8px;
    background-color: $project-header-color;
    color: $main-font-color;
    text-align: center;
}

.project-image {
    max-width: 100%;
}