.sidebar-container {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background: #f8f8f8;
    width: 20vw;
    min-width: 180px;
    transition: right 0.5s;

    a {
        color: $main-font-color;
    }
    
    a:hover {
        color: $main-font-color;
        text-decoration: none;
    }
}

.sidebar {
    margin-top: 10vh;
    margin-left: 30px;

    div, h1, h3 {
        line-height: 30px;
        margin-bottom: 30px;
    }
}

.sidebar-section-link {
    color: $main-font-color;
    margin-right: 10px;
}

#sidebar-small {
    position: absolute;
    top: 10px;
    right: 20px;

    a {
        color: $main-font-color;
    }
    
    a:hover {
        color: $main-font-color;
        text-decoration: none;
    }
}