.sidebar {
    margin-top: 20vh;
    margin-left: -4vw;

    div, h1 {
        margin-left: 10vw;
        line-height: 30px;
        margin-bottom: 30px;
    }
}

.sidebar-section-link {
    color: $main-font-color;
}