.blog-content {
    font-size: large;
}

.blog-container {
    width: 70vw;
}

.blog-date-text {
    margin-bottom: 4px;
}

.blog-image {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

    img {
        width: 100%;
    }
}

.blog-title {
    margin-bottom: 30px;
}