.blog-content {
    font-size: large;
    line-height: 30px;

    * {
        font-family: Lato, sans-serif !important;
    }

    img {
        outline: solid;
        outline-width: 1px;
        outline-color: #eee;
    }
}

.blog-container {
    width: 62%;
    transition: width 0.5s;
    margin: 100px 5%;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    img {
        width: 100%;
    }
}

.blog-date-text {
    margin-bottom: 4px;
    font-style: italic;
    color: #555;
}

.blog-image {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

    img {
        width: 100%;
    }
}

.blog-title {
    margin-bottom: 30px;
}

.blog-title-text {
    font-size: 55px;
}